[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bage"]
	path = bage
	url = https://github.com/bayesiandemography/bage
[submodule "command"]
	path = command
	url = https://github.com/bayesiandemography/command
[submodule "poputils"]
	path = poputils
	url = https://github.com/bayesiandemography/poputils
[submodule "rvec"]
	path = rvec
	url = https://github.com/bayesiandemography/rvec
